//colors
$dim-gray: #777a63;
$dark-slate-gray: #2e3d34;
$antique-white: #f8e9d5;
$tan: #d2c0a7;
$dark-olive-green: #68623b;

//fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Crete Round', serif;
